<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeSplash</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to CodeSplash</h1>
        <p>Welcome to CodeSplash</p>
        <a href="http://github.com/codesdk/codesplash" class="btn btn-primary btn-lg">Get CodeSplash</a>
    </div>
</div>

</body>
</html>
